<dx-data-grid
  id="gridDetailContainer"
  [dataSource]="itensNotaFiscal"
  alignment="center"
  noDataText="Sem dados para exibição."
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
>
  <dxo-filter-row
    [visible]="true"
  ></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-search-panel
    [visible]="true"
    [width]="240"
    placeholder=""
  ></dxo-search-panel>

  <dxo-paging [enabled]="true"></dxo-paging>

  <dxo-editing
    title="Notas Fiscais"
    mode="popup"
    [allowUpdating]="true"
    [allowAdding]="true"
    [allowDeleting]="true"
    [confirmDelete]="true"
    [useIcons]="true"
  >

    <dxo-popup
      title="Itens da Nota Fiscal"
      [showTitle]="true"
      [width]="900"
      [height]="525"
    >
    </dxo-popup>

    <dxo-form>
      <dxi-item itemType="group" [colCount]="1" [colSpan]="1">
        <dxi-item caption="" dataField="sequencial" [editorOptions]="{ width: 50 }"></dxi-item>
        <dxi-item dataField="produto.codigo" [editorOptions]="{ width: 60 }"></dxi-item>
        <dxi-item dataField="quantidade" [editorOptions]="{ width: 70 }"></dxi-item>

      </dxi-item>
    </dxo-form>


  </dxo-editing>
  <dxi-column
    [width]="50"
    alignment="center"
    dataType="integer"
    dataField="sequencial"
    caption="">

  </dxi-column>
  <dxi-column
    [width]="60"
    alignment="center"
    dataType="integer"
    dataField="produto.codigo"
    caption="Cód">

  </dxi-column>
  <dxi-column
    [width]="200"
    alignment="left"
    dataType="string"
    dataField="produto.descricao"
    caption="Descrição do produto">

  </dxi-column>
  <dxi-column
    [width]="150"
    alignment="right"
    dataType="currency"
    format="R$ #,###,##0.00"
    dataField="produto.valorUnitario"
    caption="Valor unit. atual">

  </dxi-column>
  <dxi-column
    [width]="70"
    alignment="right"
    dataType="float"
    format="##,##0.00"
    dataField="quantidade"
    caption="Qtde.">

  </dxi-column>
  <dxi-column
    [width]="150"
    [calculateCellValue]="getValorUnitarioVenda"
    alignment="right"
    format="R$ #,###,##0.00"
    dataType="currency"
    caption="Valor unit. venda"
  >

  </dxi-column>
  <dxi-column
    [width]="150"
    alignment="right"
    dataType="currency"
    format="R$ #,###,##0.00"
    dataField="valorTotal"
    caption="Valor total"></dxi-column>


</dx-data-grid>
