<dx-data-grid
  id="gridDetailContainer"
  [dataSource]="itensNotaFiscal"

  noDataText="Sem dados para exibição."
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
>
  <dxo-paging [enabled]="true"></dxo-paging>
  <dxi-column dataField="id"  ></dxi-column>
  <dxi-column dataField="quantidade"  ></dxi-column>
  <dxi-column dataField="sequencial"  ></dxi-column>
  <dxi-column dataField="produto.descricao"  ></dxi-column>


</dx-data-grid>

<!--
<dx-data-grid
  noDataText="Sem dados para exibição."
  [dataSource]="itensNotaFiscal"
  [columnAutoWidth]="true"
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
>
  <dxo-paging [enabled]="true"></dxo-paging>

  <dxo-editing
    title="Notas Fiscais"
    mode="popup"
    [allowUpdating]="true"
    [allowAdding]="true"
    [allowDeleting]="true"
    [confirmDelete]="true"
    [useIcons]="true"
  >
    <dxo-popup
      title="Itens da Nota Fiscal"
      [showTitle]="true"
      [width]="900"
      [height]="525"
    >
    </dxo-popup>
    <dxo-form>
      <dxi-item itemType="group" [colCount]="1" [colSpan]="1">
        <dxi-item dataField="sequencial" [editorOptions]="{ width: 20 }"></dxi-item>
        <dxi-item dataField="produto.descricao" [editorOptions]="{ width: 600 }"></dxi-item>
        <dxi-item dataField="quantidade" [editorOptions]="{ width: 100 }"></dxi-item>
        <dxi-item dataField="valorTotal" [editorOptions]="{ width: 100 }"></dxi-item>
      </dxi-item>
    </dxo-form>
  </dxo-editing>


  <dxi-column dataField="sequencial" dataType="number" caption="Seq." width="70"></dxi-column>
  <dxi-column dataField="produto.descricao" dataType="string" caption="Descrição" width="600"></dxi-column>
  <dxi-column dataField="quantidade" dataType="number" caption="Qtde" width="100"></dxi-column>
  <dxi-column dataField="valorTotal" dataType="number" caption="Vr Total" width="200"></dxi-column>

</dx-data-grid>
-->
