<!--<div class="user-panel">-->
<!--  <div class="user-info">-->
<!--&lt;!&ndash;    <div class="image-container">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="user-image"></div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="user-name">{{user?.email}}</div>&ndash;&gt;-->
<!--  </div>-->
<!--&lt;!&ndash;  <dx-context-menu&ndash;&gt;-->
<!--&lt;!&ndash;    *ngIf="menuMode === 'context'"&ndash;&gt;-->
<!--&lt;!&ndash;    [items]="menuItems"&ndash;&gt;-->
<!--&lt;!&ndash;    target=".user-button"&ndash;&gt;-->
<!--&lt;!&ndash;    showEvent="dxclick"&ndash;&gt;-->
<!--&lt;!&ndash;    width="210px"&ndash;&gt;-->
<!--&lt;!&ndash;    [position]="{&ndash;&gt;-->
<!--&lt;!&ndash;      my: 'top',&ndash;&gt;-->
<!--&lt;!&ndash;      at: 'bottom'&ndash;&gt;-->
<!--&lt;!&ndash;    }"&ndash;&gt;-->
<!--&lt;!&ndash;    cssClass="user-menu">&ndash;&gt;-->
<!--&lt;!&ndash;  </dx-context-menu>&ndash;&gt;-->
<!--&lt;!&ndash;  <dx-list&ndash;&gt;-->
<!--&lt;!&ndash;    *ngIf="menuMode === 'list'"&ndash;&gt;-->
<!--&lt;!&ndash;    class="dx-toolbar-menu-action"&ndash;&gt;-->
<!--&lt;!&ndash;    [items]="menuItems">&ndash;&gt;-->
<!--&lt;!&ndash;  </dx-list>&ndash;&gt;-->
<!--</div>-->
