<dx-data-grid
  id="gridContainer"

  [dataSource]="notasFiscais"
  keyExpr="id"
  noDataText="Sem dados para exibição."
  [showColumnLines]="true"
  [showRowLines]="true"
  [showBorders]="true"
  [rowAlternationEnabled]="true"

  (onSaved)="onSaved($event)"
>
  <dxo-filter-row
    [visible]="true"
  ></dxo-filter-row>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-search-panel
    [visible]="true"
    [width]="240"
    placeholder="Pesquisa..."
  ></dxo-search-panel>

  <dxo-paging [enabled]="true"></dxo-paging>

  <dxo-editing
    title="Notas Fiscais"
    mode="popup"
    [allowUpdating]="true"
    [allowAdding]="true"
    [allowDeleting]="true"
    [confirmDelete]="true"
    [useIcons]="true"
  >
    <dxo-popup
      title="Informações da Nota Fiscal"
      [showTitle]="true"
      [width]="900"
      [height]="525"
    >
    </dxo-popup>
    <dxo-form>
      <dxi-item itemType="group" [colCount]="1" [colSpan]="1">
        <dxi-item caption="Nº" dataField="numero" [editorOptions]="{ width: 100 }"></dxi-item>
        <dxi-item dataField="data" [editorOptions]="{ width: 150 }" format="dd/MM/yyyy"></dxi-item>
        <dxi-item

          caption="Nome do cliente"
          dataField="cliente.nome"
          [editorOptions]="{ width: 500 }">
          <dx-select-box
            [dataSource]="clientes"
            displayExpr="nome"
            valueExpr="id">

          </dx-select-box>
        </dxi-item>

      </dxi-item>
    </dxo-form>

  </dxo-editing>

  <dxi-column dataField="numero" [width]="100" alignment="center" caption="Nº"></dxi-column>
  <dxi-column dataField="data" [width]="150" dataType="date" format="dd/MM/yyyy" alignment="center"
              caption="Emissão"></dxi-column>
  <dxi-column dataField="cliente.nome" [width]="500" caption="Cliente">
    <dx-select-box
      [dataSource]="clientes"
      displayExpr="nome"
      valueExpr="id">
    </dx-select-box>
  </dxi-column>

  <dxo-master-detail [enabled]="true" template="itensNf"></dxo-master-detail>
  <div *dxTemplate="let itens of 'itensNf'">
    <div class="master-detail-caption">
      {{captionDetalhe}} - {{itens.data.cliente.nome}}
    </div>
    <itens-nota-fiscal-detalhe [key]="itens.data.id"></itens-nota-fiscal-detalhe>
  </div>
</dx-data-grid>

<!--
<dxi-column
  dataField="cliente.id"
  caption="Cliente"
  [setCellValue]="setStateValue" >
  <dxo-lookup
    [dataSource]="clientes"
    valueExpr="id"
    displayExpr="nome">
  </dxo-lookup>
</dxi-column>
-->

<!--
Funcionando
        <dxi-item
          caption="Nome do cliente"
          dataField="cliente.nome"
          [editorOptions]="{ width: 500 }">


        </dxi-item>

-->
